*{
    margin: 0;
    padding: 0;
}
body{
    /* background-color: #0e0e0e; */
    /* margin: 0;
    /* padding: 0; */
}
.name{
   text-align: center;
   color: black;
   background-color: antiquewhite;
   font-family: 'Times New Roman', Times, serif;
   /* border-radius: 15px; */
   /* padding: 25px; */
   font-size: 1rem;
}
.test {
    height: 60vh;
    display: grid;
    background-image:url(./ratan-tata1.jpg);
    width: 100%;
    background-size: cover;
}
.container{
    height: 50vh;
    display: grid;
    grid-template-columns: auto auto auto  auto;
    grid-template-rows: auto auto;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
    justify-content:space-around;
    background-color: white;

}
.container-head {
    height: 80px;
    width: 100%;
    background-color: black;
    border-radius: 25px;
}
.header{
    grid-column: 1/5;
    text-align: center;
    color: white;
    font-size: 2rem;
    height: 55px;
}
.footer{
    grid-column: 1/5;
     display: flex;
     flex-flow: column wrap;
     align-content: center;
    justify-content: center;
    height: 60px;
}
.footer img{
    width:100%;
    height: 50px;
}
.container-head p {
    text-align: center;
    align-self: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 12px;
    font-size:1.2rem;
}