*{
    margin: 0;
    padding: 0;
}
body{
    /* background-color: #0e0e0e; */
    /* margin: 0;
    /* padding: 0; */
}
.name{
   text-align: center;
   margin-top: 5px;
   color: black;
   background-color: antiquewhite;
   font-family: 'Times New Roman', Times, serif;
   /* border-radius: 15px; */
}
.test {
    height: 60vh;
    display: grid;
    background-image:url(./img/ratan-tata1.jpg);
    width: 100%;
    background-size: cover;
}
.container{
    height: 50vh;
    display: grid;
    grid-template-columns: auto auto auto  auto;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
 
    /* grid-template-rows:repeat(3,30px); */
    justify-content:space-around;
    background-color: white;

}
.container-head {
    height: 50px;
    width: 100%;
    /* margin: 10px; */
    background-color: black;
    border-radius: 10px;
}
.header{
    grid-column: 1/5;
    text-align: center;
    align-content: center;
    color: white;
}
.footer{
    grid-column: 1/5;
    display: flex;
     flex-flow: column wrap;
     column-gap: 10px;
   
    /* text-align: center; */
    align-content: center;
    justify-content: center;
    /* color: white; */
}
.footer img{
    width:100%;
    height: 40px;
    /* background: black; */
}
.container-head p {
    text-align: center;
    align-self: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}