/* .container{
    height: 50vh;
    background-color: aqua;
    display: flex; */
    /* flex-direction: column; */
    /* justify-items: center; */
    /* justify-content: space-around;
    justify-content:center;
    align-items: center; */

    /* text-align: center; */
    /* flex-wrap: wrap;
        align-content: center;
        column-gap: 50px;
        row-gap: 50px;
} */
/* .container-items{
    position: relative;
    width: 250px;
    height: 100px;
    margin: 5px;
    background-color: pink;
}
.container-items p {
    text-align:center;
} */

/* .grid-container {
    height: 50vh;
    background-color: aqua;
    display: grid; */
    /* grid-template-columns: auto auto 150px; */
    /* grid-template-rows: 30px 50px 100px 120px;    */
    /* grid-template-columns: auto auto auto auto; */
    /* grid-template-rows: auto auto auto; */
    /* gap: 5px; */
    /* row-gap: 20px;
    column-gap: 10px;
} */
/* .grid-container .grid-items {
    background-color: pink;
    margin: 5px;
    text-align: center;
} */
/* .grid-container .grid-items p {
       text-align: center;
}
.head{
    grid-column: 1/5;
} */
/* .mid {
    grid-row: 2/5;
}
.foot{
    grid-column: 1/5;
 } */

 /* Practicing the Box-Flex */
/* body{
    margin: 0;
    padding: 0;
}
.container{
    height: 50vh;
    background-color: yellowgreen;
    display: flex;
    flex-wrap: wrap; */
     /* float: bottom; */
     /* flex-direction: column; */
    /* justify-content:center; */
    /* justify-items: center; */
    /* align-content: center; */
    /* place-content: center; */
    /* place-items: center; */
    /* align-items: center; */

/* }
.container .item {
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 5px;
}
p{
    text-align: center;
    padding: 25px;
} */

/* Practicing the Grid*/
/* body{
    margin: 0;
    padding: 0;
}
.container {
    height: 50vh;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    background-color: yellow;
    gap: 10px; */
    
    /* justify-content:center;  of no use */
    /* align-items: center;
}
.container .item{
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    border-radius: 25px;
}
.header {
    grid-column: 1/4;
}

.footer {
    grid-column: 1/4;
}
p{
    text-align:center;
    padding: 25px;
} */